.about-hero {
    background-image: url('../img/about-hero.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 20% 50%;
    height: 80vh;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-content {
    background-color: rgba(255, 255, 255, .7);
    backdrop-filter: blur(10px);
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, .5);
}

.title {
    font-size: 25px;
    font-weight: 800;
    color: #273D4A;
    margin-bottom: 20px;
}

@media screen and (min-height: 812px) {
    .about-hero {
        height: 60vh;
    }
}

@media screen and (min-width: 768px) {
    .about-hero {
        justify-content: right;
    }

    .about-content {
        margin-right: 5%;
    }
}

@media screen and (min-width: 1024px) {
    .about-hero {
        height: 30vh;
    }
}

@media screen and (min-width: 1280px) {
    .about-hero {
        height: 80vh;
    }

    .about-content {
        margin-right: 10%;
    }

    .title {
        font-size: 30px;
    }

    .body {
        font-size: 18px;
    }
}

.why-section {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    margin: 40px 0;
}

@media screen and (min-width: 1280px) {
    .why-section {
        padding: 0 150px;
        margin: 70px 0;
    }

    .why-section > .body {
        font-size: 22px;
    }
}

.hr {
    margin: 0 auto;
    width: 30%;
    height: 2px;
    background-color: #7D8D96;
    margin-bottom: 50px;
}

.team-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.team-img {
    margin-bottom: 20px;
}

.team-img img {
    width: 360px;
}

.section-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
}