.hero {
    display: block;
    background-image: url('../img/mobile-home-banner.jpg');
    height: 500px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    position: relative;
    text-align: center;
    z-index: 1;
    box-shadow: 0 5px 5px rgba(0, 0, 0, .1);
}

.hero-text {
    position: relative;
    top: 65%;
}

.hero-text h1 {
    color: #273D4A;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 25px;
}

.hero-text p {
    text-transform: uppercase;
    font-weight: 600;
}

.hero-btn {
    margin: 40px;
}

.hero-btn a {
    background: #273D4A;
    text-decoration: none;
    color: #ffffff;
    border-radius: 5px;
    padding: 15px 30px;
}

@media screen and (min-width: 768px) {
    .hero {
        background-image: url('../img/home-banner.jpg');
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: center;
        height: 30vh;
        z-index: 5;
    }

    .hero-text {
        top: 0;
        margin-left: 25px;
    }
}

@media screen and (min-width: 1024px) {
    .hero {
        height: 560px;
    }

    .hero-text {
        margin-left: 40px;
    }

    .hero-text p {
        font-size: 22px;
    }

    .hero-text h1 {
        font-size: 30px;
        line-height: 45px;
    }
}

@media screen and (min-width: 1280px) {
    .hero {
        height: 80vh;
    }

    .hero-text {
        margin-left: 8%;
    }

    .hero-text p {
        font-size: 25px;
    }

    .hero-text h1 {
        font-size: 45px;
        line-height: 45px;
    }

    .hero-btn {
        margin-top: 70px;
    }

    .hero-btn a {
        background-color: transparent;
        border: solid 1px #273D4A;
        padding: 15px 45px;
        transition: all .3s ease-in-out;
        color: #273D4A;
    }

    .hero-btn a:hover {
        box-shadow: 0 -100px 0 #273D4A inset;
        color: #ffffff;
        font-weight: 600;
    }
}

@media screen and (min-width: 1366px) {
    .hero-text h1 {
        font-size: 45px;
    }
}

.svc-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
 
.sec-cont {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 35px 20px
}

.title {
    text-transform: uppercase;
    color: #273D4A;
    font-weight: 800;
    font-size: 25px;
}

.body {
    margin-top: 20px;
    color: #2d2d2d;
    font-weight: 600;
}

.services .container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

.container {
    margin: 30px 0;
}

.container img {
    border-radius: 10px;
    width: 280px;
    margin-bottom: 10px;
}

.svc-title {
    color: #273D4A;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
}

.section-btn {
    margin: 50px auto;
}

.section-btn a {
    text-decoration: none;
    background-color: #273D4A;
    color: #ffffff;
    padding: 15px 30px;
    border-radius: 5px;
    transition: all .3s ease-in-out;
}

@media screen and (min-width: 768px) {
    .sec-cont {
        margin: 50px 30px ;
    }
}

@media screen and (min-width: 1024px) {
    .sec-cont {
        margin: 50px 60px
    }

    .services {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .container {
        margin: 0 10px;
    }

    .container img {
        width: 300px;
    }
}

@media screen and (min-width: 1280px) {
    .sec-cont {
        margin: 50px 180px
    }

    .section-btn a {
        padding: 15px 45px;
    }

    .section-btn a:hover {
        background-color: #314a58;
    }

    .title {
        font-size: 35px;
    }

    .body {
        font-size: 20px;
    }

    .container {
        margin: 0 20px;
    }
}

.non-inter-section {
    background-image: url('../img/home-non-interactive-bg.jpg');
    background-position: 35% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
    padding: 20px 5px;
    margin-top: 50px;
    display: flex;
    justify-content: right;
    align-items: center;
}

.non-inter-section span {
    font-weight: 600;
    color: #273D4A;
    font-size: 18px;
    text-align: right;
    width: 200px;
    margin-right: 5%;
    text-transform: capitalize;
}

@media screen and (min-width: 768px) {
    .non-inter-section {
        display: flex;
        justify-content: right;
        align-items: center;
        background-image: url('../img/home-non-interactive-bg.jpg');
        background-position: top;
        height: 220px;
        padding-left: 200px;
        text-align: right;
        font-size: 18px;
    }

    .non-inter-section span {
        width: 100%;
        font-size: 22px;
    }
}

@media screen and (min-width: 1024px) {
    .non-inter-section {
        height: 300px;
        background-position: top;
    }

    .non-inter-section span {
        font-size: 25px;
        margin-right: 15%;
    }
}

@media screen and (min-width: 1280px) {
    .non-inter-section {
        display: flex;
        justify-content: right;
        align-items: center;
        background-image: url('../img/home-non-interactive-bg.jpg');
        background-position: top;
        height: 50vh;
        padding-left: 200px;
        text-align: right;
    }

    .non-inter-section span {
        margin-right: 15%;
    }

    .non-inter-section span {
        font-size: 30px;
    }
}

.join-section {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}

.join-content {
    padding: 15px 5px;
    background-color: #ecf8ff;
    margin-top: -10px;
    z-index: 1;
}

.join-content span {
    display: block;
}

.join-title {
    font-size: 20px;
    font-weight: bold;
    color: #273D4A;
    text-transform: capitalize;
}

.join-img img {
    width: 320px;
}

.join-btn {
    margin: 30px 0;
}

.join-btn a {
    text-decoration: none;
    padding: 15px 30px;
    color: #ffffff;
    background-color: #273D4A;
    border-radius: 5px;
    transition: all .3s ease-in-out;
}

@media screen and (min-width: 768px) {
    .join-section {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        align-content: center;
        padding: 0 10px;
    }

    .join-content {
        background-color: transparent;
    }

    .join-title {
        font-size: 25px;
    }
}

@media screen and (min-width: 1280px) {
    .join-section {
        justify-content: space-around;
        padding: 0 70px;
    }

    .join-content {
        text-align: left;
    }

    .join-title {
        font-size: 35px;
    }

    .join-body {
        font-size: 21px;
    }

    .join-img img {
        width: 500px;
    }

    .join-btn {
        margin: 50px 0;
    }

    .join-btn a {
        padding: 15px 45px;
    }

    .join-btn a:hover {
        background-color: #314a58;
    }
}