.service-hero {
    background-image: url('../img/services-mobile.jpg');
    background-position: center;
    background-size: cover;
    height: 40vh;
    padding: 20px;
    background-color: #eeeeee;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .3);
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-text span {
    display: block;
    text-align: center;
}

.title {
    font-size: 20px;
    font-weight: 800;
    color: #273D4A;
    margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
    .service-hero {
        background-image: url('../img/services-banner.jpg');
        display: flex;
        justify-content: left;
        align-items: center;
        align-content: center;
    }

    .hero-text {
        width: 400px;
        margin-left: 45%;
    }

    .hero-text span {
        text-align: right;
    }

    .title {
        font-size: 30px;
    }
}

@media screen and (min-width: 1024px) {
    .hero-text {
        margin-left: 50%;
    }
}

@media screen and (min-width: 1280px) {
    .service-hero {
        height: 50vh;
    }
    .hero-text {
        width: 585px;
    }

    .title {
        font-size: 35px;
    }

    .body {
        font-size: 18px;
    }
}

@media screen and (min-width: 1280px) {
    .service-hero {
        height: 70vh;
    }
}

.services {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.svc-header {
    text-align: center;
}

.svc-header span {
    display: block;
}

.l-head {
    color:#273D4A;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
}

.svc-section {
    width: 100%;
}

.svc-container {
    display: block;
    width: 100%;
}

.svc-offer {
    padding: 50px;
    text-align: center;
}

.svc-icon.it,
.svc-icon.leasing,
.svc-icon.software {
    background-size: cover;
    background-position: center;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    margin: 0 auto;
}

.it {
    background-image: url('../img/it-cons.jpg');
}

.leasing {
    background-image: url('../img/leasing.jpg');
}

.software {
    background-image: url('../img/software.jpg');
}

.svc-item {
    display: block;
    text-transform: uppercase;
    font-size: 20px;
    color:#273D4A;
    font-weight: 600;
    margin: 10px 0;
}

.svc-des {
    display: block;
    font-style: italic;
}

.svc-offer button {
    display: block;
    margin: 20px auto;
    background-color: transparent;
    border: none;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    color: #273D4A;
    cursor: pointer;
    text-decoration: underline;
}

.bg-1 {
    background-color: #ffffff;
}

.bg-2 {
    background-color: #EAF0F3;
}

@media screen and (min-width: 768px) {
    .svc-section {
        display: flex;
        justify-content: center;
        margin-top: 30px;
        margin-bottom: 10px;
    }

    .svc-container {
        width: 100%;
    }
}

@media screen and (min-width: 1024px) {
    .svc-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 30px;
        margin-bottom: 10px;
    }

    .sec-g1,
    .sec-g2 {
        display: flex;
    }
}

@media screen and (min-width: 1366px){
    .svc-section {
        padding: 0 100px;
        margin-bottom: 80px;
    }

    .svc-header {
        margin: 50px;
    }

    .s-head {
        font-size: 22px;
    }

    .l-head {
        font-size: 35px;
    }
}